DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=database

REDIS_URL=redis://localhost:6379/0

# генерация командой (linux)
# python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
JWT_SECURITY_KEY="CHANGE-THIS-PLEASE"

CORS_ORIGINS=["http://localhost","http://localhost:3000"]
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=["*"]
CORS_ALLOW_HEADERS=["*"]

# настройка токенов
# ACCESS указан в минутах
# REFRESH в днях
ACCESS_TOKEN_EXPIRES=15
REFRESH_TOKEN_EXPIRES=30

DEBUG=true

TEST_DB_HOST=localhost

YANDEX_ACCESS_TOKEN=


MINIO_ENDPOINT=localhost:9000
MINIO_EXTERNAL_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=tracks
MINIO_SECURE=false
